---
import IconRef from "../components/IconRef.astro";

const ICON_WIDTH = 40;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href="./output.css" rel="stylesheet" />
    <title>John Zeng</title>
  </head>
  <body class="bg-slate-950 text-gray-300">
    <main>
      <section id="hero">
        <div>
          <h1 class="text-3xl font-bold">John Zeng</h1>
          <h2 class="text-xl">Purdue Computer Science and AI 2026</h2>
          <div>
            <a href="#about" class="text-blue-500">About Me</a> |
            <a href="#projects" class="text-blue-500">Projects</a> |
            <a href="#rugby" class="text-blue-500">Rugby</a>
          </div>
          <div class="flex flex-row">
            <IconRef
              name="simple-icons:github"
              link="https://github.com/jlz22"
              width={ICON_WIDTH}
              description="Github"
            />
            <IconRef
              name="simple-icons:discord"
              link="https://discordapp.com/users/519383092012515338"
              width={ICON_WIDTH}
              description="Discord"
            />
            <IconRef
              name="simple-icons:readdotcv"
              link="https://github.com/JLZ22/Resume/blob/main/John_Zeng_Resume.pdf"
              width={ICON_WIDTH}
              description="Resume"
            />
            <IconRef
              name="simple-icons:mailboxdotorg"
              link="mailto:zeng261@purdue.edu"
              width={ICON_WIDTH}
              description="Email"
            />
            <IconRef
              name="simple-icons:linkedin"
              link="https://www.linkedin.com/in/John-L-Zeng"
              width={ICON_WIDTH}
              description="Linked-In"
            />
          </div>
        </div>
      </section>

      <section id="about">
        <div>
          <h1 class="mt-5 text-2xl underline">About Me:</h1>
          <p
            class="w-full rounded-md border border-slate-100 sm:w-3/4 md:w-1/2 lg:w-1/3 xl:w-1/4"
          >
            hai. tryna cook up a website :D
          </p>
        </div>
      </section>

      <section id="projects">
        <h1 class="mt-5 text-2xl underline">Projects</h1>
      </section>

      <section id="rugby">
        <h1 class="mt-5 text-2xl underline">Rugby</h1>
      </section>
    </main>
  </body>
</html>
