---
import IconRef from "../components/IconRef.astro";

const sections = [
  { title: "About", href: "/" },
  { title: "Research", href: "/research" },
  { title: "Projects", href: "/projects" },
];

interface Props {
  title: string;
  section: string;
}

const { title, section } = Astro.props;
const ICON_WIDTH = 40;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href="./output.css" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body class="flex min-h-screen flex-col bg-zinc-900 text-indigo-200">
    <main class="mt-14 flex-grow">
      <div
        class="lg:left-1/10 xl:left-1/5 absolute left-1/2 -translate-x-1/2 items-center text-center lg:translate-x-0"
      >
        <div class="text-4xl hover:underline">
          <a href="/">John Zeng</a>
        </div>
      </div>

      <!-- Hamburger Menu -->
      <button
        class="absolute right-0 mr-7 mt-3 block focus:outline-none lg:hidden"
        id="menu-button"
        aria-expanded="false"
        aria-controls="menu"
      >
        <span class="mb-1 block h-1 w-6 bg-indigo-200"></span>
        <span class="mb-1 block h-1 w-6 bg-indigo-200"></span>
        <span class="block h-1 w-6 bg-indigo-200"></span>
      </button>
      <!-- Nav Links -->
      <div
        class="lg:left-1/10 xl:left-1/5 absolute mr-5 mt-10 hidden items-center text-center transition-all duration-100 ease-in lg:block"
      >
        <nav class="mt-10 grid grid-rows-3 gap-4 text-left text-sm">
          {
            sections.map(({ title, href }) => {
              let cssClass =
                section === title ? "underline" : "hover:underline";
              return (
                <a href={href} class={cssClass}>
                  {title}
                </a>
              );
            })
          }
        </nav>

        <div class="mt-10">
          <div class="mb-5 flex flex-row">
            <IconRef
              name="simple-icons:github"
              link="https://github.com/jlz22"
              width={ICON_WIDTH}
              class="mr-5"
            />
            <IconRef
              name="simple-icons:discord"
              link="https://discordapp.com/users/519383092012515338"
              width={ICON_WIDTH}
            />
          </div>
          <div class="flex flex-row">
            <IconRef
              name="simple-icons:readdotcv"
              link="https://github.com/JLZ22/Resume/raw/main/John_Zeng_Resume.pdf"
              width={ICON_WIDTH}
              class="mr-5"
            />
            <IconRef
              name="simple-icons:linkedin"
              link="https://www.linkedin.com/in/John-L-Zeng"
              width={ICON_WIDTH}
            />
          </div>
        </div>
      </div>
    </main>

    <footer class="bottom-0 left-0 p-4 text-center">
      © 2024 John Zeng <a
        href="https://github.com/JLZ22/website"
        class="hyperlink">Source</a
      >
    </footer>
  </body>
</html>
